/*@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Anton&family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,600;0,6..12,700;1,6..12,600&display=swap');

:root {
    --font-size: 20px;
    --color: rgb(219, 58, 26);
    --gutter: calc(var(--font-size)*1.618);
}

@media (min-width: 600px) {
    :root {
        --font-size: 20px;
    }
}

body {
    background-color: rgb(252, 243, 239);
    font-size: var(--font-size);
    padding-top: calc(var(--gutter)*3);
    padding-bottom: calc(var(--gutter)*3);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    color: var(--color);
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
    text-align: center;
}

h1 {
    font-size: calc(var(--font-size)*4.8);
    margin-top: -13vh;
    margin-bottom: -10px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 18px;
    font-family: 'Bodoni Moda', serif;
}

h4 {
    font-size: calc(var(--font-size)*4.8);
    text-align: left;
    margin-left: 2rem;
    margin-top: -2rem;
}

li {
    font-family: 'Nunito Sans', sans-serif;
    font-size: calc(var(--font-size)*3);
    text-transform: uppercase;
    margin-top: -16px;
    margin-left: 2rem;
    text-align: center;
}

li:hover {
    font-family: 'Bodoni Moda', serif;
}

.numbers {
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    font-size: calc(var(--font-size)*2);
}

picture {
    display: flex;
    justify-content: center;
}

img {
	display: block;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
    border-color: var(--color);
    box-shadow: 2px 2px 4px rgb(175, 175, 175);
}

.article {
    text-align: left;
    font-size: calc(var(--font-size)*1.5);
    font-family: 'Bodoni Moda', serif;
    margin-top: -5px;
    text-transform: initial;
    list-style:inside;
}

.article:hover {
    text-decoration: underline;
}

footer {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    margin-bottom: -3rem;
    height: 2rem;
}*/







/* class demo
body {
	--spacing: 2em;

	font-family: monospace;
	padding: var(--spacing);
}

body, header, section, ul, li, footer, address {
	display: grid;
	gap: var(--spacing);
}

main { max-width: 600px }

a { color: blue; }
em { font-style: italic; }
strong { font-weight: bold; }
p { max-width: 50ch; }
*/







@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&display=swap');


:root {
    --font-size: 20px;
    --color: rgb(194, 50, 22);
    --gutter: calc(var(--font-size)*1.618);
}

@media (min-width: 600px) {
    :root {
        --font-size: 20px;
    }
}

#file-background {
    background-color: rgb(247, 240, 218);
}

body {
    background-color: var(--color);
    font-size: var(--font-size);
    color: var(--color);
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
    font-family: "Roboto Condensed", sans-serif;
    padding: 25px 20px 20px 20px;
}

#channel-title {
    font-size: calc(var(--font-size)*2);
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#channel-blocks {
    padding-left: 28vw;
    padding-right: 28vw;
}

#channel-created-date {
    color: rgb(40, 40, 40);
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-size: 16px;
}

#channel-description {
    margin-top: 0rem;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

#channel-users {
    color: rgb(40, 40, 40);
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#file-container { 
    display: flex; 
    padding: 0;
    align-items: baseline;
    justify-content: center;
} 
   
.file-item { 
    margin: 0;
} 

.file-item + .file-item {
    margin-left: 10px; /* Adjust the value as needed for the desired space */
}

#channel-link {
    color: rgb(40, 40, 40);
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#project {
    background-color:  rgb(247, 240, 218);
    width: 70px;
}

h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin-top: -16px;
    padding: 3px 0px 0px 8px;
}

h4 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2px;
}

h5 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 2px;
}

hr {
    color: var(--color);
    border: 1px solid;
    width: 216px;
    margin: 0 auto;
}

#file-date-underline {
    width: 316px;
}

#signature-underline {
    width: 316px;
}

#catagories {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

#catagories li {
    margin-top: 10px;
    border-bottom: 2px solid rgb(194, 50, 22);
    width: 170px;
    text-transform: uppercase;
    font-family: "Special Elite", system-ui;
}

li:hover {
    color: black;
}

picture {
    display: flex;
    justify-content: center;
}

img, blockquote, iframe, video {
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: var(--color);
    box-shadow: 2px 2px 4px rgb(175, 175, 175);
    margin-top: 10px;
    margin-bottom: 20px;
}

img {
    width: 350px;
    height: 350px;
}

blockquote {
    padding: 2rem;
}

em { 
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

footer {
    margin-bottom: 2rem;
}

#signature-container { 
    display: flex; 
    padding: 0;
    align-items: baseline;
    justify-content: center;
} 

