@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Anton&family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;1,6..12,600&display=swap');

:root {
    --font-size: 20px;
    --color: rgb(219, 58, 26);
    --gutter: calc(var(--font-size)*1.618);
}

@media (min-width: 600px) {
    :root {
        --font-size: 20px;
    }
}

body {
    background-color: rgb(252, 243, 239);
    font-size: var(--font-size);
    padding-top: calc(var(--gutter)*3);
    padding-bottom: calc(var(--gutter)*3);
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    color: var(--color);
    display: flex;
    flex-direction: column;
    row-gap: var(--gutter);
    text-align: center;
}

h1 {
    font-size: calc(var(--font-size)*4.8);
    margin-top: -13vh;
    margin-bottom: -10px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 18px;
    font-family: 'Bodoni Moda', serif;
}

h4 {
    font-size: calc(var(--font-size)*4.8);
    text-align: left;
    margin-left: 2rem;
    margin-top: -2rem;
}

li {
    font-family: 'Nunito Sans', sans-serif;
    font-size: calc(var(--font-size)*3);
    text-transform: uppercase;
    margin-top: -16px;
    margin-left: 2rem;
    text-align: center;
}

li:hover {
    font-family: 'Bodoni Moda', serif;
}

.numbers {
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    font-size: calc(var(--font-size)*2);
}

picture {
    display: flex;
    justify-content: center;
}

img {
	display: block;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
    border-color: var(--color);
    box-shadow: 2px 2px 4px rgb(175, 175, 175);
}

footer {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    margin-bottom: -3rem;
    height: 2rem;
}